
<!DOCTYPE html>
<html>
    <head>
        <%- include('header', {title: 'Movie'}) %>
    </head>

    <body>
        <%- include('navbar', {active: ''}) %>

        <main class="d-flex flex-column">
            <div class="container">
                <div class="W-100 d-flex justify-content-center pb-5">
                    <div class="welcome-card rented-movies p-5 mt-5">
                        <div class="text-center pb-3">
                            <h3>The Shawshank Redemption</h3>
                        </div>
                        <table class="table table-borderless table-striped px-2">
                            <tbody>
                                <tr>
                                    <td scope="col" class="text-right">
                                        Directed by
                                    </td>
                                    <td scope="col" class="text-left">
                                        Frank Darabont
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="text-right">
                                        Year
                                    </td>
                                    <td scope="col" class="text-left">
                                        1994
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="text-right">
                                        Category
                                    </td>
                                    <td scope="col" class="text-left">
                                        Drama
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="text-right">
                                        Cast
                                    </td>
                                    <td scope="col" class="text-left">
                                        <ul>
                                            <li>Tim Robbins</li>
                                            <li>Morgan Freeman</li>
                                            <li>Bob Gunton</li>
                                            <li>William Sadler</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="text-right">
                                        Available
                                    </td>
                                    <td scope="col" class="text-left">
                                        3
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <img src="static/the_shawshank_redemption.jpg" style="max-height:20rem;">
                        </div>
                        <div class="d-flex flex-row justify-content-around">
                            <div class="text-center pt-3">
                                <a type="button" class="btn login_btn" href="/">Rent</a>
                            </div>
                            <div class="text-center pt-3">
                                <a type="button" class="btn login_btn" href="/movie/1/modify">Modify</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
