
<!DOCTYPE html>
<html>
    <head>
        <%- include('header', {title: 'Modify'}) %>
    </head>

    <body>
        <%- include('navbar', {active: ''}) %>

        <main class="d-flex flex-column">
            <div class="container">
                <form>
                    <div class="W-100 d-flex justify-content-center pb-5">
                        <div class="welcome-card rented-movies p-5 mt-5">
                            <div class="pb-3">
                                <input type="text" class="form-control text-center" value="The Shawshank Redemption">
                            </div>
                            <table class="table table-borderless table-striped px-2">
                                <tbody>
                                    <tr>
                                        <td scope="col" class="text-right">
                                            Directed by
                                        </td>
                                        <td scope="col" class="text-left">
                                            <input type="text" class="form-control" value="Frank Darabont">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="text-right">
                                            Year
                                        </td>
                                        <td scope="col" class="text-left">
                                            <input type="text" class="form-control" value="1994">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="text-right">
                                            Category
                                        </td>
                                        <td scope="col" class="text-left">
                                            <input type="text" class="form-control" value="Drama">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="text-right">
                                            Cast
                                        </td>
                                        <td scope="col" class="text-left">
                                            <textarea class="form-control" value="1994"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="text-right">
                                            Available
                                        </td>
                                        <td scope="col" class="text-left">
                                            <input type="text" class="form-control" value="3">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="text-right">
                                            Image
                                        </td>
                                        <td scope="col" class="text-left">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFile">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                              </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex flex-row justify-content-around">
                                <div class="text-center pt-3">
                                    <a type="button" name="button" class="btn login_btn w-100" href="/movie">Save</a>
                                </div>
                                <div class="text-center pt-3">
                                    <a type="button" name="button" class="btn login_btn w-100" href="/movie/1/delete">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>
