<div class="px-lg-5" style="background-color: #ffffff;">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand m-0" href="/">
                <img src="static/bme_cimer.jpg" width="30" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item <%= active == 'movies' ? 'active' : '' %>">
                        <a class="nav-link text-center" href="/movie">Movies</a>
                    </li>
                    <li class="nav-item <%= active == 'profile' ? 'active' : '' %>">
                        <a class="nav-link text-center" href="/">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="/login">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
